.lead__image {
    padding: 64px 0 0;
    width: 100%;
}

@media screen and (max-width: 1024px) {
    .lead__image {
        padding: 56px 0 0;
    }
}

@media screen and (max-width: 425px) {
    .lead__image {
        padding: 40px 0 0;
    }
}
