.intro {
    margin: 0 auto;
    padding: 92px 0 0;
    max-width: 984px;
    display: flex;
    flex-direction: column;
    align-content: flex-start;
}

@media screen and (max-width: 1024px) {
    .intro {
        max-width: 928px;
    }
}

@media screen and (max-width: 768px) {
    .intro {
        padding-top: 88px;
        max-width: 720px;
    }
}

@media screen and (max-width: 425px) {
    .intro {
        padding-top: 64px;
        max-width: 288px;
    }
}