.place {
    margin: 0 auto;
    padding: 0 0 80px;
    max-width: 980px;
    row-gap: 48px;
    column-gap: 40px;
    display: grid;
    grid-template-columns: 460px auto;
    grid-template-rows: auto;
    grid-template-areas:
    'place__title place__website'
    'place__image place__paragraphs';
}

.place:last-of-type {
    padding-bottom: 0;
}

@media screen and (max-width: 1024px) {
    .place {
        max-width: 928px;
        grid-template-columns: 440px 1fr;
        column-gap: 32px;
    }
}

@media screen and (max-width: 768px) {
    .place {
        padding-bottom: 73px;
        max-width: 720px;
        grid-template-columns: 340px auto;
        column-gap: 28px;
    }
}

@media screen and (max-width: 680px) {
    .place {
        max-width: 320px;
        padding-bottom: 50px;
        row-gap: 32px;
        display: flex;
        flex-direction: column;
    }
}